<nav>
    <div class="site-title">
     <a href=""><h1>Blog Baba </h1></a>
     <h1>A Net Baba Site</h1>
    </div>
    <ul>
     <li><a href="/">Blog</a></li>
     <li><a href="/about">About</a></li>
     <li><a href="/blogs/create">New Blog</a></li>
    </ul>
 </nav>


 <!-- <nav>
    <div class="site-title">
        <a href=""><h1>Blog Ninja</h1></a>
        <h1>A net Ninja site</h1>
    </div>

    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav> -->